<!DOCTYPE html>
<html>
<head>
    <title>Guide Michelin</title>
</head>
<body>
<h1>Guide Michelin</h1>
<p>lien vers <a href="{{ path('salle_tp_afficher', { 'numero': numero +1 }) }}"> la suivante</a></p>
<p>lien vers <a href="{{ path('salle_tp_accueil') }}">l'accueil</a></p>
</body>
</html>