<!DOCTYPE html>
<html>
    <head>
        <title>Guide Michelin</title>
    </head>
    <body>
        <h1>Bonjour {{ nom }} : Guide Michelin ..trouvez un restaurant</h1>
        <p>lien vers <a href="{{ path('guide_michelin_menu', {'nom':nom}) }}"> Accéder au menu </a></p>
    </body>
</html>