{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{ parent() }} : Accueil
{% endblock %}
{% block contenu %}
    <h4>Bonjour {{ nom }} : Guide Michelin ..trouvez un restaurant</h4>
    <p>lien vers <a href="{{ path('guide_michelin_list', {'nom':nom}) }}"> Accéder au menu </a></p>
{% endblock %}