<!DOCTYPE html>
<html lang="fr">
    <body>
        <p> Le restaurant suivant a été ajouté :</p>
        <ul>
            <li>Nom du restaurant : {{ resto.nom }}</li>
            <li>Nom du chef : {{ resto.idChef }}</li>
            <li>Nombre d'étoiles {{ resto.etoiles }}</li>
        </ul>
    </body>
</html>