<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Guide Michelin</title>
    </head>
    <body>
        <h1>Bienvenue sur le menu du Guide Michelin {{ nom }}</h1>
        <p>lien vers <a href="{{ path('guide_michelin_accueil',{'nom':nom}) }}"> Revenir à l'accueil </a></p>

        <p>lien vers <a href="{{ path('guide_michelin_ajouter_request') }}"> Ajouter un restaurant </a></p>
    </body>
</html>