<!DOCTYPE html>
<html>
    <head>
        <title>Guide Michelin</title>
    </head>
    <body>
        <h1>Bienvenue sur le menu du Guide Michelin</h1>
        <p>lien vers <a href="{{ path('guide_michelin_accueil') }}"> Revenir à l'accueil </a></p>
    </body>
</html>