{% extends "layoutgeneral.html.twig" %}

{% block titre %}
    {{ parent() }} : suppression d'un chef et de ses restaurants
{% endblock %}
{% block contenu %}
    <h4>Le chef n° {{ chef.id }} a bien été supprimé </h4>
    <p>lien vers <a href="{{ path('guide_michelin_list') }}"> Revenir au menu </a></p>
{% endblock %}