<!DOCTYPE html>
<html lang="fr">
    <body>
        <p> Voici des informations sur le restaurant suivant :</p>
        <ul>
            <li>Nom du restaurant : {{ resto.nom }}</li>
            <li>Nom du chef : {{ resto.chef }}</li>
            <li>Nombre d'étoiles {{ resto.etoiles }}</li>
        </ul>
    </body>
</html>